/*Nav*/
.navbar-home {
  justify-content: space-between !important;
  background: rgba(0, 0, 0, 0.7);
}

.navbar-home .navbar-collapse {
  flex-grow: 0;
}

.navbar-home .navbar-brand img {
  width: 160px;
}

.navbar-link {
  color: rgba(255, 255, 255, 0.8) !important;
}

.navbar-link:hover {
  color: rgba(255, 255, 255, 1) !important;
}

/*Home*/
#home {
  height: 100vh;
  background-size: cover;
  background-position: 50% 15%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to left, rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('https://res.cloudinary.com/dnwjfznt6/image/upload/v1584446743/charlotte_pjcyke.jpg');
  position: relative;
}

.down-arrow {
  font-size:18px;
  text-align: center;
  color: white;
  position: absolute;
  bottom: 0px;
  right: 50%;
}

/*Contact*/
#contact {
  text-align: center;
  padding: 10%;
}

#contact h2 {
  font-size: 24px;
  margin-bottom: 2em;
}

#contact-infos {
  display: flex;
  justify-content: center;
}

.contact-info {
  display: flex;
  align-items: center;
  text-align: left;
  padding: 8px;
  margin: 16px;
}

.contact-info p {
  margin: 0;
}

.contact-icon {
  font-size: 24px;
  padding: 12px;
}

/*Footer*/
.footer {
  background: rgba(220, 220, 220, 0.7);
}

.footer-logo img{
  display: block;
  margin: 0 auto;
  padding: 4em 3em 2em 3em;
}

.update-date {
  text-align: center;
  padding: 0 3em 4em 3em;
  margin: 0;
}

.external-links {
  font-size: 20px;
  padding: 0 1em 1em 1em;
  text-decoration: none;
  text-align: center;
}

.external-links a {
  color: rgba(0, 0, 0, 0.7);
}

.external-links a:hover {
  color: rgba(0, 0, 0, 0.7);
}
