/*Nav*/
.navbar-home {
  justify-content: space-between !important;
  background: rgba(0, 0, 0, 0.7);
}

.navbar-home .navbar-collapse {
  flex-grow: 0;
}

.navbar-home .navbar-brand img {
  width: 160px;
}

.navbar-link {
  color: rgba(255, 255, 255, 0.8) !important;
}

.navbar-link:hover {
  color: rgba(255, 255, 255, 1) !important;
}

/*Footer*/
.footer {
  background: rgba(220, 220, 220, 0.7);
}

.footer-logo img{
  display: block;
  margin: 0 auto;
  padding: 4em 3em 2em 3em;
}

.update-date {
  text-align: center;
  padding: 0 3em 4em 3em;
  margin: 0;
}

.external-links {
  font-size: 20px;
  padding: 0 1em 1em 1em;
  text-decoration: none;
  text-align: center;
}

.external-links a {
  color: rgba(0, 0, 0, 0.7);
}

.external-links a:hover {
  color: rgba(0, 0, 0, 0.7);
}
